#about-wrap {
  max-width: var(--max-width);
  margin: 0 auto;
  font-family: 'Inter', sans-serif;

  .about {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 0;

    .img-medicalife {
      max-width: 585px;

      &-team {
        width: 82%;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 39px 39px 0px 5px rgba(0, 229, 204.00000000000006, 0.17);

        img {
          width: 100%;
        }
      }

      &-doctor {
        width: 52%;
        position: relative;
        bottom: 100px;

        img {
          width: 100%;
          border-style: solid;
          border-width: 15px 15px 0px 0px;
          border-color: #FFFFFF;
          border-radius: 0px 5px 0px 5px;
        }
      }
    }

    &-description {
      max-width: 585px;
      display: grid;

      h5 {
        color: var(--secondary-color);
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 2.5rem;
        margin-bottom: 1rem;
      }
      
      p {
        color: var(--p-text-color);
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5rem;
      }

      &-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1.5rem 0;
        gap: 30px;
  

        &-box {
          display: flex;
          gap: 20px;

          .icon {
            width: 70px;
            margin-top: 10px;

            img {
              width: 100%;
            }
          }

          h3 {
            font-size: 16px;
            font-weight: 600;
            color: var(--primary-color);
            margin-bottom: 10px;
          }
        }
      }

      &-list {
        color: var(--p-text-color);
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 1rem;
        line-height: 1.5rem;

        img {
          width: 12px;
          margin-right: 10px;
        }
      }

      .btn-about {
        text-decoration: none;
        background: var(--secondary-color);
        color: #FFFFFF;
        width: fit-content;
        font-size: 14px;
        padding: 18px 32px;
        border-radius: 50px;
        font-weight: 500;
        height: fit-content;
      }

      .btn-about:hover {
        transform: translateY(-8px);
        transition: all .3s ease-out;
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  #about-wrap {
   padding: 0 20px;
  }
}

@media only screen and (max-width: 1070px) {
  #about-wrap {
    .about {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .img-medicalife {
        max-width: 700px;
        // display: contents;

        &-team {
          width: 65vw;
        }

        &-doctor {
          width: 50vw;
        }
      }

      &-description {
        max-width: 700px;
      }
    }
  }
}
