#footer-wrap {
  font-family: 'Inter', sans-serif;
  background-color: #000B29;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;

  .footer {
    position: relative;
    max-width: var(--max-width);
    padding-top: 100px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

    &-description {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &-img {
        width: 235px;
        
        img {
          width: 100%;
          position: relative;
        }
      }

      p {
        color: var(--p-text-color);
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5rem;
        max-width: 300px;
      }

      &-icons {
        display: flex;
        gap: 1rem;

        a {
          background: var(--secondary-color);
          height: fit-content;
          padding: 10px;
          border-radius: 50%;
          font-size: 20px;
          color: #fff;
        }

        a:hover {
          background: #fff;
          color: var(--secondary-color);
          scale: (0.9);
          transition: all .4s ease-out;
        }
      }
    }

    &-list {
      color: #fff;
      display: grid;
      grid-template-rows: repeat(1, 0.3fr 1fr);
      max-width: 225px;

      &-topic {
        display: grid;
        align-items: center;

        h4 {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 2rem;
        }

        &-line {
          border-bottom: 2px solid var(--secondary-color);
          width: 60px;
          margin-bottom: 2rem;
        }

      }

      ul {
        display: grid;
        gap: 1rem;
        line-height: 1.5rem;
      }

      li {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &-icon {
        width: 15px;

        img {
          width: 100%;
        }
      }
    }

    &-appointment {
      display: flex;
      flex-direction: column;

      &-topic {
        display: grid;
        align-items: center;

        h4 {
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 2rem;
        }

        &-line {
          border-bottom: 2px solid var(--secondary-color);
          width: 60px;
          margin-bottom: 2rem;
        }
      }

      &-call {
        display: flex;
        width: max-content;
        background-color: #000E45;
        padding: 30px;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        &-img {
          width: 55px;
          height: max-content;
          background-color: #00E5CC;
          padding: 15px;
          border-radius: 5px;
          margin-right: 1rem;

          img {
            width: 100%;
          }
        }

        &-text {
          display: grid;
          grid-gap: 1rem;

          h3 {
            color: #fff;
            font-size: 18px;
            font-weight: 600;
          }

          p {
            color: #A4AEBE;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }

      p {
        max-width: 290px;
        font-size: 16px;
        font-weight: 300;
        color: var(--p-text-color);
        line-height: 1.5rem;
      }
    }

    &-copyright {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-top: 1px solid #A0AABA2B;
      width: 100%;

      p {
        font-size: 14px;
        font-weight: 300;
        color: var(--p-text-color);
        padding-top: 25px;
      }
    }
  }
}