#header-wrap {
  max-width: var(--max-width);
  margin: 0 auto;
  font-family: 'Inter', sans-serif;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid #EAEAEA;

    .logo {
      width: 200px;

      img {
        width: 100%;
      }
    }

    .contact {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 1rem;

      .contact-box {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-right: 1px solid #EAEAEA;
        padding-right: 1rem;

        &-icon {
          width: 32px;

          img {
            width: 100%;
          }
        }

        &-title {
          font-weight: var(--topic-font-weight);
          color: var(--primary-color);
          line-height: 2;
        }

        &-description {
          font-weight: 300;
          color: var(--p-text-color);
        }
      }

      .btn-appointment {
        text-decoration: none;
        margin: 0 auto;
        background: var(--primary-color);
        color: #fff;
        padding: 15px 30px;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 500;
      }

      .btn-appointment:hover {
        transform: translateY(-8px);
        transition: all .3s;
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  #header-wrap {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 970px) {
  #header-wrap {
    .header {

      .contact {
        grid-template-columns: repeat(2, 1fr);

        .btn-appointment {
          display: none;
        }

        .border {
          border-right: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 690px) {
  #header-wrap {
    .header {
      justify-content: center;

      .logo {
        width: 230px;
      }

      .contact {
        display: none;
      }
    }
  }
}